body{
     width:1500px;
     height:1500px;
     background-color:#b4b9c1;
     font-size:25px;
}
h1{
  font-family: Arial;
  color: #546d84;
  text-align: center;
  font-size:80px;
}
#one{
  background-color:#787c82
  float: right;
  margin-right:100 px;
  display:inline-block;
}
#two{
     display:inline-block;
    
}
h2{
     font-size:45px;
     font-family:bedrock;
}
    
title{
     background-color:#cfcfd1;
}

