body{
     width:1200px;
     height:1000px;
     background-color:#b4b9c1;
     font-size:25px;
}
h1{
  font-family: Arial;
  color: #546d84;
  text-align: center;
  font-size:80px;
}
#one{
  background-color:#787c82
  margin-right:100px;
  display:inline-block;
  border:dashed;2px;
  float:left;
}
#two{
     display:inline-block;
     float:right;
     border:dashed;2px;
    
}
h2{
     font-size:45px;
     font-family:algerian;
}
    
#KD{
     float:left;
     margin-top:600px;
}
